typing-extensions
langchain-openai
langchain-experimental
pandas
pyarrow
yfinance
praw
feedparser
eodhd
fastapi
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
uvicorn
